<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-between">
  <div class="container-fluid">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="img-circle" width="80" src="assets/images/riekerlogo.png" alt="Logo Rieker">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav fw-medium">
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="showConsole" class="nav-item">
          <a class="nav-link text-primary" aria-current="page" routerLink="/order" routerLinkActive="active">Order</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a class="nav-link text-primary" routerLink="/service" routerLinkActive="active">Services</a>
        </li>
      </ul>
      <div class="ms-auto me-auto">
        <div *ngIf="authenticated" class="btn-group dropdown-center">
          <button type="button" class="btn btn-outline-dark">
            {{ userProfile.displayName | uppercase }}
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu text-center">
            <li class="nav-item"><a class="nav-link btn" href="https://localhost:8443/realms/rieker/account/#/">My
                profile</a></li>
            <hr class="dropdown-divider">
            <li class="nav-item"><a class="nav-link btn" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <button *ngIf="!authenticated" (click)="login()" class="btn btn-outline-primary">Login</button>
      </div>
    </div>
  </div>
</nav>
