<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom bg-body-tertiary">
  
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="img-circle" width="80" src="assets/images/riekerlogo.png" alt= "Logo Rieker">
    </a>
    
    <ul class="nav navbar ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/order" routerLinkActive="active">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-outline-primary me-2">Sign-up</button>
    </div>
  </header>
