<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom bg-body-tertiary mb">

  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img class="img-circle" width="80" src="assets/images/riekerlogo.png" alt="Logo Rieker">
  </a>
  <ul class="nav navbar fw-medium" >
    <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li *ngIf="authenticated" class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/order" routerLinkActive="active">Order</a>
    </li>
    <li *ngIf="authenticated" class="nav-item">
      <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
    </li>
  </ul>

  <div class="col-md-3 me-5">
    <div *ngIf="authenticated" class="btn-group dropdown-center">
      <button type="button" class="btn btn-outline-dark">
        {{ displayName|uppercase }}
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu text-center ">
        <li class="nav-item"><a class="nav-link btn"  href="https://localhost:8443/realms/rieker/account/#/">My profile</a></li>
        <hr class="dropdown-divider">
        <li class="nav-item"><a class="nav-link btn" (click)="logout()"  >Logout</a></li>
      </ul>
    </div>
    <button *ngIf="!authenticated" (click)="login()"  class="btn btn-outline-primary">Login</button>
    
  </div>
</header>