<div class="container">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sed minima modi nihil iste? Reiciendis hic doloribus vel sint necessitatibus culpa delectus atque voluptatem dignissimos, minus consectetur soluta corporis. Quia?</p>
  </div>
<div class="col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus eligendi ipsum velit explicabo deserunt facilis consectetur fugiat dicta. Incidunt, ducimus numquam! Fuga pariatur sapiente repellat nemo quas eos eaque ab!</div>
</div>